body {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

a {
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}


.navbar {
    display: flex;
    position: fixed;
    background-color: rgb(0, 25, 56);
    width: 100%;
    height: 60px;
    justify-content: center;
    top: 0px;
    z-index: 2;
    color: black;
}

.nav-item {
    text-decoration: none;
    padding: 15px;
    margin-top: 5px;
}

.nav-item:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.nav-item a:hover {
    color: black;
}

.fill {
    display: flex;
}

.gambar img {
    height: 450px;
    width: 600px;
    margin-top: 120px;
    margin-left: 10px;
    margin-bottom: -5px;
}

.intro {
    margin-top: 200px;
    /* margin-right: 10px; */
    margin-left: 150px;
}

.intro h3 {
    font-size: 15px;
}

.intro h1 {
    font-size: 40px;
}

.intro p {
    font-size: 13px;
}

.about {
    display: flex;
    font-size: 12px;
    /* background: #333; */
    background: rgb(0, 12, 44);
    /* backdrop-filter: blur(5px); */
    color: rgb(255, 255, 255);
    padding-bottom: 90px;
    margin-bottom: -100px;
}

.about-item {
    margin-left: 150px;
    margin-top: 70px;
    text-align: justify;
}

.about-item2 {
    margin-left: 20px;
    margin-top: 121px;
    margin-right: 90px;
    text-align: justify;
}

.about-item h2 {
    font-size: 23px;
}

.container {
    /* background-color: rgba(191, 191, 191, 0.155); */
    padding-top: 5px;
    margin-top: 100px;
    margin-bottom: -150px;
}

.gallery {
    padding: 50px 20px;
    background-color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 10px;
    justify-items: center;
    gap: 0px;
    /* margin-left: 130px;
    margin-right: 120px; */
    margin-top: 50px;
    margin-bottom: -50px;
    padding-left: 120px;
    padding-right: 200px;
}

.item {
    display: flex;
    justify-content: center; /*horizontal*/
    /* align-items: center; */
    width: 350px;
    height: 400px;
    border-radius: 4px;
    overflow: hidden;
    margin: 5px;
    padding: 0;
    position: relative;
    cursor: pointer;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
    border-radius: 4px;
    pointer-events: none;
    transition: transform 2.0s ease;
}

.item .layer{
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75%;
    opacity: 0;
    transition: 2.0s;
}

.item .info {
    position: absolute;
    bottom: -30%;
    padding: 15px;
    opacity: 0;
    transition: 0.7s bottom, 1.75s opacity;
}

.info p {
    font-size: 14px;
    margin-top: 3px;
    color: white;
}

.info h1 {
    color: white;
}

.item:hover,
.item:hover img,
.item:hover layer {
    transform: scale(1.0);
    

}

.item:hover img {
    transform: scale(1.2);
}

.item:hover > .layer {
    opacity: 1;
}

.item:hover > .info {
    bottom: 0;
    opacity: 1;
}

.item-group:hover > .item:not(:hover) {
    filter: blur(5px);
}

.info button {
    background: rgb(31, 31, 87);
    border: none;
    padding: 8px 12px;
    font-weight: bold;
    border-radius: 7px;
    margin-top: -3px;
    max-width: 100px;
}

.info button:hover {
    background: rgb(255, 255, 255);
}

.info a {
    color: white;
}

.info a:hover {
    color: black;
}

#hadua {
    margin-left: 150px;
    margin-top: 150px;
    font-size: 35px;
}

footer {
    display: flex;
    background-color: #333; 
    color: white; 
    text-align: center; 
    padding: 20px 0; 
    /* margin-bottom: -50px; */
    margin-top: 30px;
    width: 100%;
}

footer img {
    height: 80px;
    width: 80px;
}

footer a {
    color: #ffffff; 
    text-decoration: none; 
}

footer a:hover {
    text-decoration: underline; 
}

.social-icons {
    margin-left: 570px;
    margin-top: 0px;
    display: flex;
    font-size: 13px;
}

.company {
    display: flex;
    font-size: 18px;
    font-family: sans-serif;
    margin-left: 150px;
}

.company img {
    width: 30px;
    height: 20px;
}

@media (max-width: 1029px) {
    .navbar {
        height: auto;
    }

    .fill {
        flex-direction: column;
    }

    .gambar {
        order: 1; /* Gambar di atas */
        margin-left: 20px;
        margin-top: 0px;
        margin-right: 10px;

    }

    .intro {
        order: 2; 
        margin-left: 20px;
        margin-top: 20px;
        margin-right: 10px;
        text-align: left;
    }

    .about {
        flex-direction: column;
    }

    .about-item {
        justify-content: center;
        margin-right: 10px;
        margin-left: 20px;
    }
    
    .about-item2 {
        margin-top: -10px;
        margin-left: 20px;
        margin-right: 10px;
    }
    
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* 2 gambar per baris */
        justify-items: center;
        padding: 0;
        margin-top: 10px;
    }

    .item {
        width: 350px;
        height: 400px;
        justify-content: center;
        margin-left: 50px;
    }

    #hadua {
        margin-top: 10px;
        margin-left: 70px;
        text-align: center;
    }

    footer {
        flex-direction: column;
        margin-top: 170px;
    }

    .social-icons, .company {
        margin-left: 0;
        margin-right: 10px;
        margin-top: 10px;
        justify-content: center;
    }

}

@media (max-width: 850px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr); /* 1 gambar per baris */
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
        flex-direction: column;
        /* margin-right: 100px; */
    }

    footer {
        flex-direction: column;
        margin-top: 170px;
    }

    .social-icons, .company {
        margin-left: 0;
        margin-right: 10px;
        margin-top: 10px;
        justify-content: center;
    }

    #hadua {
        margin-top: 10px;
        margin-left: 70px;
        text-align: center;
    }

    .navbar {
        height: auto;
    }

    .fill {
        flex-direction: column;
    }

    .gambar {
        order: 1; /* Gambar di atas */
        justify-content: center;
        align-items: center;
        justify-items: center;
        margin: 0;
        padding: 0;
    }

    .intro {
        order: 2; 
        margin-left: 20px;
        margin-top: 20px;
        margin-right: 10px;
        text-align: left;
    }

    .about {
        flex-direction: column;
    }

    .about-item {
        justify-content: center;
        margin-right: 10px;
        margin-left: 20px;
    }
    
    .about-item2 {
        margin-top: -10px;
        margin-left: 20px;
        margin-right: 10px;
    }

}

